<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- <beans:beans xmlns:beans="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util" 
		xmlns="http://www.springframework.org/schema/security" xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd"> -->

	<!-- <beans:beans xmlns="http://www.springframework.org/schema/security" 
		xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"> -->

	<!-- <http auto-config="true"> <intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')" 
		/> </http> <authentication-manager> <authentication-provider> <user-service> 
		<user name="admin" password="1234" authorities="hasRole(ROLE_ADMIN)" /> </user-service> 
		</authentication-provider> </authentication-manager> -->

	<!-- @Controller @RequestMapping(value="/secure/admin") public class AdminController 
		{ -->


	<!-- Resolves view names to protected .jsp resources within the /WEB-INF/views 
		directory -->
	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/views/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>

	<!-- DATA SOURCE -->
	<context:property-placeholder
		location="classpath*:/db_connection.properties" />

	<beans:bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<beans:property name="driverClassName"
			value="${db.driver}" />
		<beans:property name="url" value="${db.url}" />
		<beans:property name="username" value="${db.username}" />
		<beans:property name="password" value="${db.password}" />
	</beans:bean>

	<!-- SPRING SECURITY -->
	<sec:http auto-config="true" use-expressions="true">
		<sec:intercept-url pattern="/secure/admin/**"
			access="hasRole('ROLE_ADMIN')" />
		<sec:intercept-url pattern="/secure/*"
			access="isAuthenticated()" />
		<sec:intercept-url pattern="/*" access="permitAll" />
		<sec:form-login login-page="/loginpage"
			default-target-url="/secure/main"
			login-processing-url="/j_spring_security_check"
			username-parameter="j_username" password-parameter="j_password"
			authentication-failure-url="/loginfail" />
		<sec:logout logout-success-url="/logout" />
	</sec:http>

	<beans:bean id="encoder"
		class="org.springframework.security.crypto.password.StandardPasswordEncoder" />

	<sec:authentication-manager>
		<sec:authentication-provider>
			<sec:password-encoder ref="encoder" />
			<sec:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select username, password_encrypted, enabled from webuser2 where username=? and enabled = 1"
				authorities-by-username-query="select u.username, a.role from webuser2 u JOIN webuser2_authority ua ON (u.id = ua.webuser2_id) JOIN authority a ON (a.id = ua.authority_id) WHERE u.username = ?" />
		</sec:authentication-provider>
	</sec:authentication-manager>

	<sec:global-method-security
		pre-post-annotations="enabled" />

</beans:beans>  